/* ==UserStyle==
@name           bitbucket.org - Feb 2024
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Styles for Bitbucket Cloud
@author         John van der Loo <john.vanderloo@pathzero.com>
==/UserStyle== */

@-moz-document domain("bitbucket.org") {

.bitkit-diff-wrapper-diff .code-component {
  font-family: 'Fira code', monospace !important;
}

[data-testid="issues-transition-dropdown--content"] {
  width:150px;
}

[data-testid="issues-transition-dropdown--content"] [role="menuitem"] span span span span {
  max-width:100% !important;
}

[data-testid="issues-transition-dropdown--trigger"] span span span {
  max-width: 100px !important;
}

}
